	<div id="formentry">
		<h2>Create a new post</h2>
		<a href="javascript:toggleCheetSheet();">Show/hide cheatsheet</a>
		<form action="/admin/post_submit?admin_key=<%= params[:admin_key] %>" method="post" accept-charset="utf-8">
			<p class="input_name">Unique name (reference)<p>
			<p><input type="text" name="ref_name" <%= "value=\"#{@post.ref}\"" if @post != nil %> /></p>
			<p class="input_name">Hidden from front page? <input type="radio" name="hidden" value="true" <%= "checked" if @postIsHidden %> />Yes
				<input type="radio" name="hidden" value="false" <%= "checked" unless @postIsHidden %> /> No </p>
			<p class="input_name">Post title</p>
			<p><input type="text" name="title" <%= "value=\"#{@post.title}\"" if @post != nil %> /></p>
			<p class="input_name">Tags (comma separated)</p>
			<p><input type="text" name="tags" <%= "value=\"#{@post.tags.join(", ")}\"" if @post != nil %> /></p>
			<br />
			<div id="uploadholder">
				<div id="uploadstatus" style="display: none">Uploading</div>
				<input type="file" name="file_upload" id="file_upload" />
			</div>
			<br />
			<p><textarea id="post_content" name="body" rows="15" cols="60"><%= @post.content if @post != nil %></textarea></p>
			<%= "<input type=\"hidden\" name=\"mode\" value=\"update\" />" if @post != nil %>
			<p><input type="submit" value="Submit"></p>
		</form>
		
		<form id="uploadform" action="/admin/upload" method="post" style="display: none"></form>
		<div id="upload_iframe" style="display:none;"></div>
	</div>