	<h1>All posts</h1>
	
	<% @allPosts.each do |post| %>
		<h3><%= post.title %> - <a href="/admin/delete/<%= post.ref %>?admin_key=<%= params[:admin_key] %>"><strong>Delete</strong></a> OR <a href="/admin/edit/<%= post.ref %>?admin_key=<%= params[:admin_key] %>"><strong>Edit</strong></a></h3>
	<% end %>